@{
    ViewBag.Title = "HeaderLayout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Header")
<br />
<div class="container">
    <div class="row" id="childContainer">
        @RenderBody()
    </div>
</div>

<div class="modal" id="modal" tabindex="-1" role="dialog" aria-hidden="true"></div>

    @Html.Partial("_Footer")

    @section scripts {
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
        @RenderSection("scripts", required: false)
    }
